body,
input,
textarea,
select,
button {
	font-family: 'Inter', sans-serif !important;
}

body {
	margin: 0;
	padding: 20px;
	background-color: #f5f5f5;
}

h1,
label {
	color: #333;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

label,
.input-group {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #333;
}

select,
input[type="file"],
button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
	box-sizing: border-box;
	transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button {
	font-family: 'Inter', sans-serif !important;
	color: #7c7c7c;
	background-color: #e0e0e0;
	border: 0;
	box-shadow: none;
	border-radius: 2px;
	padding: 6px 8px 6px 8px;
	margin-right: 10px;
}

input[type="file"]::-webkit-file-upload-button:hover {
	background-color: #ccc;
}

.mdl-layout {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 2;
}

.mdl-layout-title {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

.mdl-textfield {
	width: 100%;
}

.result-section p {
	font-weight: bold;
	font-size: 22px;
	color: #333;
}

.calculate-button {
	background-color: #f60109 !important;
	color: #fff !important;
	font-weight: bold !important;
	cursor: pointer !important;
	font-size: 15px !important;
	transition: background-color 0.3s ease !important;
}

.calculate-button:hover {
	background-color: #c30007 !important;
}

button {
	font-weight: bold !important;
}

.credits {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 20px;
	position: relative;
	z-index: 1;
}

.credits p {
	margin: 0;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.credits:hover {
	background-color: #f5f5f5;
}

button:hover {
	background-color: #f5f5f5;
}

.scale-selector {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.scale-selector label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.scale-selector input {
	display: none;
}

.scale-selector .circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #757575;
	margin-right: 5px;
	position: relative;
	transition: background-color 0.3s;
}

.scale-selector input:checked+.circle {
	background-color: #f60109 !important;
	border-color: #f60109 !important;
}

#scaleFactorDisplay {
	display: none;
}

.progress-bar {
	background-color: #e6e6e6 !important;
	border-radius: 4px;
	height: 15px;
	overflow: hidden;
}

.progress-bar-inner {
	background-color: #f60109 !important;
	height: 100%;
	width: 0;
}

#settings-window {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 500px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.102);
	overflow: auto;
	border-radius: 4px;
	padding: 1em;
	margin: 0px;
	background-color: white;
	z-index: 3;
}

#settings-window h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.settings-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #ddd;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.result-section {
	margin-top: 20px;
	text-align: center;
}

.result-section h2 {
	margin-bottom: 10px;
	color: #333;
}

#log-window {
	background-color: #ffffff !important;
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 23%;
	height: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.102);
	overflow: auto;
	border-radius: 4px;
	padding: 1em;
}

.mdl-layout-title .beta {
	color: #f60109;
}

/* Define the scrollbar styles for light theme */
::-webkit-scrollbar {
	width: 12px;
	/* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #f0f0f0;
	/* Light background color for the scrollbar track */
	border-radius: 4px;
	/* Rounded corners on the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #ccc;
	/* Light color for the scrollbar handle */
	border-radius: 5px;
	/* Rounded corners on the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #ddd;
	/* Light color for the scrollbar handle on hover */
}

/* Optional: Handle when active */
::-webkit-scrollbar-thumb:active {
	background-color: #bbb;
	/* Light color for the scrollbar handle when active (clicked) */
}
